.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background: #ffffff;
  color: #fff;
}

.title {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 16px;
  color: #111111;
}

.description {
  font-size: 16px;
  color: #111111;
  margin-bottom: 32px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer button {
  width: 260px;
  max-width: 100%;
  font-size: 16px;
  height: 48px;
}
