.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.header {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #1a1a1a;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;
}

.description {
  font-size: 28px;
  line-height: 1.4;
  color: #111111;
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 40px 20px;
}
