.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.header {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #1a1a1a;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;
}

.description {
  font-size: 28px;
  line-height: 1.4;
  color: #111111;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .description {
    font-size: 32px;
  }
}

.footer {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
}

.footer button {
  width: 335px;
  max-width: 100%;
  font-size: 16px;
  height: 48px;
}

@media (min-width: 1024px) {
  .footer button {
    font-size: 24px;
  }
}
