.container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 0;
}

.container > *:not(.overlay) {
  position: relative;
  z-index: 1;
}

.header {
  padding: 17px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  color: #ffffff;
}

.main {
  flex: 1;
}

.imageSection {
  margin: 40px 0;
  padding: 0 20px;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 3 / 2;
  border-radius: 24px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoSection {
  padding: 0 20px;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.infoCard {
  padding: 20px;
  border-radius: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoItem {
  display: flex;
  flex-direction: column;
}

.infoLabel {
  font-size: 15px;
  line-height: 1.4;
  color: #111111;
  font-weight: 500;
}

.infoValue {
  font-size: 15px;
  line-height: 1.4;
  color: #11111180;

  font-weight: 500;
}

.skeleton {
  width: 100%;
  height: 16px;
  background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 4px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.link {
  text-decoration: underline;
  word-break: break-all;
}

.footer {
  width: 100%;
  padding: 12px 20px 60px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .footer button {
    width: 154px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .infoCard {
    &:nth-child(1),
    &:nth-child(2) {
      flex-direction: row;
      justify-content: space-between;
      gap: 16px;
    }

    .infoItem {
      flex: 1;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    display: flex;
    gap: 32px;
  }

  .imageSection,
  .infoSection {
    flex: 1;
  }

  .infoCard {
    flex-direction: row;
    justify-content: space-between;
  }

  .infoItem {
    flex: 1;
  }
}
